html, body {
    height: 100%;
}

/*#message-red {*/
/*    background-color: #d9534f;*/
/*    color: #FFF;*/
/*}*/

/*#message-yellow {*/
/*    background-color: #f0ad4e;*/
/*    color: #FFF;*/
/*}*/

/*#message-green {*/
/*    background-color: #5cb85c;*/
/*    color: #FFF;*/
/*}*/

#message-block {
    min-height: 60px;
}

#form {
    text-align: center
}